<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Other Keys-->
    <add key="BotName" value="Chat Bot" /> <!-- Feel free to rename your chatbot -->
    <!--Logging Keys-->
    <add key="LOGENTRIES_ACCOUNT_KEY" value="" /> <!-- Optional - Used for logging to https://logentries.com/ -->
    <add key="LOGENTRIES_LOCATION" value="" /> <!-- Optional - Used for logging to https://logentries.com/ -->
    <!--App-Keys-->
    <add key="in_apikey" value="" /> <!-- Required - Obtain your own from http://developer.ingagenetworks.com/ -->
    <add key="in_admin_username" value="" /> <!-- Required - Obtain your own from http://developer.ingagenetworks.com/ (Use a Tenant Admin accesstoken) -->
    <add key="in_admin_password" value="" /> <!-- Required - Obtain your own from http://developer.ingagenetworks.com/ (Use a Tenant Admin accesstoken) -->
    <add key="in_auth_url" value="https://api.ingagenetworks.com/v1/authentication/" />
    <add key="in_users_me_url" value="https://api.ingagenetworks.com/v1/users/me" />
    <add key="in_users_create_url" value="https://api.ingagenetworks.com/v1/users/" />
    <add key="in_users_securityquestions_url" value="https://api.ingagenetworks.com/v1/users/securityquestions" />
    <!--Hub-Keys-->
    <add key="REDISTOGO_URL" value="" /> <!-- Required - Uses the following format: password@host:port -->
    <add key="Rally_Username" value="" /> <!-- Optional - Used for http://www.rallydev.com/ integration -->
    <add key="Rally_Password" value="" /> <!-- Optional - Used for http://www.rallydev.com/ integration -->
    <add key="Jenkins_Url" value="" /> <!-- Optional - Used for Jenkins CI integration -->
  </appSettings>
  <system.web>
    <authentication mode="Forms"></authentication>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog>
    <extensions>
      <add assembly="le_nlog" />
    </extensions>
    <targets>
      <target name="logentries" type="Logentries" key="LOGENTRIES_ACCOUNT_KEY" location="LOGENTRIES_LOCATION" debug="true" layout="${date:format=u} ${logger} ${level} ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" appendTo="logentries" />
    </rules>
  </nlog>
</configuration>